<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
  {%- endif -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  {{ content_for_header }}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'animations.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {% render 'head-tag' %}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  {% sections 'header-group' %}
  {% render 'body-start-tag' %}
  
  {% section 'header' %}

  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {% sections 'footer-group' %}
  {% render 'body-end-tag' %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
  </ul>

  <script>
    window.shopUrl = '{{ shop.url }}';
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };

    window.cartStrings = {
      error: `{{ 'sections.cart.cart_error' | t }}`,
      quantityError: `{{ 'sections.cart.quantity_error' | t }}`
    }
  </script>
</body>
</html>
